/**
 * @file
 * SMACSS Modules
 *
 * Adds modular sets of styles.
 *
 * Additional useful selectors can be found in Zen's online documentation.
 * https://drupal.org/node/1707736
 */

/**
 * Wireframes.
 */
%wireframe {
  outline: 1px solid #ccc;

  @if support-legacy-browser(ie, "7") {
    .lt-ie8 & {
      /* IE6/7 do not support the outline property. */
      border: 1px solid #ccc;
    }
  }
}

.with-wireframes {
  .header,
  .main,
  .main-content,
  .main-navigation,
  .region-sidebar-first,
  .region-sidebar-second,
  .footer,
  .region-bottom {
    @extend %wireframe;
  }
}

/**
 * Accessibility features.
 */

/**
 * Visually hidden
 *
 * Make an element visually hidden, but accessible.
 *
 * .visually-hidden--off        - Turns off the visually-hidden effect
 * .visually-hidden--focusable  - Makes an element visually hidden by default, but visible when focused.
 */

.visually-hidden,
%visually-hidden {
  @include visually-hidden();
}

.visually-hidden--off,
%visually-hidden--off {
  @include visually-hidden--off();
}

.visually-hidden--focusable,
%visually-hidden--focusable {
  @extend %visually-hidden;

  &:active,
  &:focus {
    @extend %visually-hidden--off;
  }
}

/* element-invisible as defined by http://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
.element-invisible,
%element-invisible {
  @include element-invisible;
}

/* Turns off the element-invisible effect. */
%element-invisible-off {
  @include element-invisible-off;
}

.element-focusable,
%element-focusable {
  @extend %element-invisible;

  &:active,
  &:focus {
    @extend %element-invisible-off;
  }
}

/*
 * The skip-link link will be completely hidden until a user tabs to the link.
 */
#skip-link {
  margin: 0;

  a,
  a:visited {
    display: block;
    width: 100%;
    padding: 2px 0 3px 0;
    text-align: center;
    background-color: #666;
    color: #fff;
  }
}

/**
 * Background and borders for content
 */
.content-inner-wrapper,
.sidebar-inner-wrapper {
  background: white;
  padding: 10px 10px 10px 10px;
  overflow: hidden; /* Prevents margins from text pushing everything down */
}

.content-inner-wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

#main {
  padding-left: 5px;
  padding-right: 5px;
}

/**
 * Page
 */
#page {
  @include alpha-background-color(rgba(black, 0.2), $background-color);
}

.page__title {
  margin-top: 0;
  border-bottom: 2px solid $header-background-color;
}

/**
 * Header
 */
#header {
  background: $header-background-color;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  position: relative;
  z-index: 100;

  hr {
    @include output-rhythm(margin, rhythm(0.5) 0);
    border: none;
    background-color: $white;
    height: 2px;
    background-image: linear-gradient(to right, $header-background-color, $white, $header-background-color);
  }
}

.header-inner {
  position: relative;
  padding: 10px;
}

.header__logo {
  display: block;
  line-height: 0; // This is a link (loog-link).

  img {
    width: 60px; // Adjust the size of the logo.
  }
}

.header__logo-wrapper {
  display: inline-block;
}

/* The name of the website (wrapper). */
.header__site-name {
  @include adjust-font-size-to($site-name-fontsize);
  margin: 0;
  display: inline-block;
  line-height: 1em;
  position: absolute;
  top: 60px;
  left: 80px;
}

/* The link around the name of the website. */
.header__site-link {
  &:link,
  &:visited,
  &:hover,
  &:focus {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }
  &:after {
    /*content: ".dk"; */
    text-transform: none;
  }
}

/* The slogan (or tagline) of a website. */
.header__site-slogan {
  margin: 0;
}

/* The secondary menu (login, etc.) */
.header__secondary-menu {
  float: right;
}

/* Wrapper for any blocks placed in the header region. */
.header__region {
  /* Clear the logo. */
  clear: both;
}

.region {
  @include clearfix();
}

/**
 * Navigation
 */
.header-inner .navigation { // Need to be more specific here.
  margin: 0;

  .form-item {
    margin-top: 0;
    margin-bottom: 0;
  }

  .block {
    @include output-rhythm(margin, rhythm(0.5) 0);
  }

}

.navigation-bar-toggle-wrapper {
  @include clearfix();
}

/**
 * Navigation-bar toggle (burger-menu)
 */
.navigation-bar-toggle {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  padding: 0;
  width: 54px;
  height: 48px;
  font-size: 0;
  text-indent: -9999px;
  border: none;
  curser: pointer;
  @include appearance(none);
  @include box-shadow(none);
  @include border-radius(none);
  @include transition(background 0.3s);

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: $header-background-color;
  }

  span {
    display: block;
    position: absolute;
    top: 22px;
    left: 9px;
    right: 9px;
    height: 3px;
    background: $white;
    @include transition(background 0 0.3s);
  }

  span::before,
  span::after {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: $white;
    content: "";
    -webkit-transition-duration: 0.3s, 0.3s;
    transition-duration: 0.3s, 0.3s;
    -webkit-transition-delay: 0.3s, 0;
    transition-delay: 0.3s, 0;
  }

  span::before {
    top: -13px;
    -webkit-transition-property: top, -webkit-transform;
    transition-property: top, transform;
  }

  span::after {
    bottom: -13px;
    -webkit-transition-property: bottom, -webkit-transform;
    transition-property: bottom, transform;
  }

  &.active {
    span {
      background: none;
    }
    span::before {
      top: 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    span::after {
      bottom: 0;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
    span::before,
    span::after {
      -webkit-transition-delay: 0, 0.3s;
      transition-delay: 0, 0.3s;
    }
  }
}

#navigation-bar {
  display: none;
}

@media all and (min-width: 960px) {
  #navigation-bar {
    display: block;
  }

  .navigation-bar-toggle {
    display: none;
  }
}

/**
 * Footer
 */

#footer .block,
ul.footer-menu {
  margin: 0;
}

/* Styling of footer-menu */
#footer {
  padding-top: 10px;
  ul.footer-menu {
    @include clearfix();
    background: $footer-background-color;
    padding: 0;

    li {
      list-style: none;
      text-align: center;
      padding: 1.5em 0;
      border-bottom: 2px solid white;

      &:last-of-type {
        border: none;
      }

      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

/* Adjust borders for 3 items on each row */
@media all and (min-width: 480px) and (max-width: 959px) {
  #footer ul.footer-menu {
    li {
      border-bottom: none;
      border-right: 2px solid white;

      /* Only the first 3 menu items need bottom border */
      &:nth-child(-n+3) {
        border-bottom: 2px solid white;
      }

      &:nth-child(3) {
        border-right: none;
      }
    }
  }
}

/* Adjust borders for 6 items in 1 row */
@media all and (min-width: 960px) {
  #footer ul.footer-menu li {
    border-bottom: none;
    border-right: 2px solid white;
  }
}

/**
 * Breadcrumb navigation.
 */
.breadcrumb {
  ol {
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
}

/**
 * Titles.
 */
/* Disabled to experiment with vertical rhythm. May need to enable again */
/*.page__title,          /* The title of the page. */
/*.node__title,          /* Title of a piece of content when it is given in a list of content. */
/*.block__title,         /* Block title. */
.comments__title,      /* Comment section heading. */
.comments__form-title, /* Comment form heading. */
.comment__title {      /* Comment title. */
  margin: 0;
}

/**
 * Messages
 */
.messages,
%messages {
  margin: rhythm(1) 0;
  padding: 10px 10px 10px 50px; /* LTR */
  background-image: inline-image("message-24-ok.png");
  @if support-legacy-browser(ie, "7") {
    *background-image: image-url("message-24-ok.png");
  }
  background-position: 8px 8px; /* LTR */
  background-repeat: no-repeat;
  border: 1px solid #be7;
}

.messages--status,
%messages--status {
  @extend %messages;
  @extend %status-ok;
}

.messages--warning,
%messages--warning {
  @extend %messages;
  @extend %status-warning;
  background-image: inline-image("message-24-warning.png");
  @if support-legacy-browser(ie, "7") {
    *background-image: image-url("message-24-warning.png");
  }
  border-color: #ed5;
}

.messages--error,
%messages--error {
  @extend %messages;
  @extend %status-error;
  background-image: inline-image("message-24-error.png");
  @if support-legacy-browser(ie, "7") {
    *background-image: image-url("message-24-error.png");
  }
  border-color: #ed541d;
}

.messages--error__text,
%messages--error__text {
  color: #333;
}

.messages__list,
%messages__list {
  margin: 0;
}

.messages__item,
%messages__item {
  list-style-image: none;
}

/* Core/module installation error messages. */
.messages--error p.error {
  @extend %messages--error__text;
}

/* System status report. */
.status-ok,
%status-ok {
  background-color: #f8fff0;
  color: #234600;
}

.status-warning,
%status-warning {
  background-color: #fffce5;
  color: #840;
}

.status-error,
%status-error {
  background-color: #fef5f1;
  color: #8c2e0b;
}

.ok {
  @extend %status-ok;
}
.warning {
  @extend %status-warning;
}
.error {
  @extend %status-error;
}

/* Node revisions. */
.revision-current {
  @extend %status-ok;
}

/**
 * Tabs.
 */

/* Basic positioning styles shared by primary and secondary tabs. */
%tabs {
  @include clearfix;
  @include background-image(linear-gradient(bottom, $tabs-border 1px, transparent 1px));
  /* IE 9 and earlier don't understand gradients. */
  list-style: none;
  border-bottom: 1px solid $tabs-border \0/ie;
  margin: rhythm(1) 0;
  padding: 0 2px;
  white-space: nowrap;
}
%tabs__tab {
  float: left;
  margin: 0 3px;
}
%tabs__tab-link {
  border: 1px solid #e9e9e9;
  border-right: 0;
  border-bottom: 0;
  display: block;
  @include adjust-leading-to(1);
  text-decoration: none;
}

/* Primary tabs. */
.tabs-primary {
  @extend %tabs;
}
.tabs-primary__tab {
  @extend %tabs__tab;
  @include border-top-radius(4px);
  @include single-text-shadow(#fff, 1px, 1px, 0);
  border: 1px solid $tabs-border;
  border-bottom-color: transparent;
  /* IE 9 and earlier don't understand gradients. */
  border-bottom: 0 \0/ie;
}
.tabs-primary__tab.is-active {
  @extend .tabs-primary__tab;
  border-bottom-color: $tabs-container-bg;
}

// We use 3 placeholder styles to prevent @extend from going selector crazy.
%tabs-primary__tab-link {
  @extend %tabs__tab-link;
  @include border-top-radius(4px);
  @include transition(background-color 0.3s);
  color: #333;
  background-color: #dedede;
  letter-spacing: 1px;
  padding: 0 1em;
  text-align: center;
}
%tabs-primary__tab-link-is-hover {
  background-color: #e9e9e9;
  border-color: #f2f2f2;
}
%tabs-primary__tab-link-is-active {
  background-color: transparent;
  @include filter-gradient(rgba(#e9e9e9, 1), rgba(#e9e9e9, 0));
  @include background-image(linear-gradient(rgba(#e9e9e9, 1), rgba(#e9e9e9, 0)));
  border-color: #fff;
}

a.tabs-primary__tab-link {
  @extend %tabs-primary__tab-link;

  &:hover,
  &:focus {
    @extend %tabs-primary__tab-link-is-hover;
  }
  &:active {
    @extend %tabs-primary__tab-link-is-active;
  }
}
a.tabs-primary__tab-link.is-active {
  @extend %tabs-primary__tab-link;
  @extend %tabs-primary__tab-link-is-active;
}

/* Secondary tabs. */
.tabs-secondary {
  @extend %tabs;
  font-size: .9em;
  /* Collapse bottom margin of ul.primary. */
  margin-top: -(rhythm(1));
}
.tabs-secondary__tab,
.tabs-secondary__tab.is-active {
  @extend %tabs__tab;
  margin: rhythm(1)/2 3px;
}

// We use 3 placeholder styles to prevent @extend from going selector crazy.
%tabs-secondary__tab-link {
  @extend %tabs__tab-link;
  @include border-radius(.75em);
  @include transition(background-color 0.3s);
  @include single-text-shadow(#fff, 1px, 1px, 0);
  background-color: #f2f2f2;
  color: #666;
  padding: 0 .5em;
}
%tabs-secondary__tab-link-is-focus {
  background-color: #dedede;
  border-color: #999;
  color: #333;
}
%tabs-secondary__tab-link-is-active {
  @include single-text-shadow(#333, 1px, 1px, 0);
  background-color: #666;
  border-color: #000;
  color: #fff;
}

a.tabs-secondary__tab-link {
  @extend %tabs-secondary__tab-link;

  &:hover,
  &:focus {
    @extend %tabs-secondary__tab-link-is-focus;
  }
  &:active {
    @extend %tabs-secondary__tab-link-is-active;
  }
}
a.tabs-secondary__tab-link.is-active {
  @extend %tabs-secondary__tab-link;
  @extend %tabs-secondary__tab-link-is-active;
}

/**
 * Inline styles.
 */

/* List of links generated by theme_links(). */
.inline {
  display: inline;
  padding: 0;

  li {
    display: inline;
    list-style-type: none;
    padding: 0 1em 0 0;
  }
}

/* The inline field label used by the Fences module. */
span.field-label {
  padding: 0 1em 0 0;
}

/**
 * "More" links.
 */
.more-link {
  text-align: right;
}
.more-help-link {
  text-align: right;
}
.more-help-link a {
  background-image: inline-image("help.png");
  @if support-legacy-browser(ie, "7") {
    *background-image: image-url("help.png");
  }
  background-position: 0 50%;
  background-repeat: no-repeat;
  padding: 1px 0 1px 20px;
}

/**
 * Pager.
 */

/* A list of page numbers when more than 1 page of content is available. */
.pager {
  clear: both;
  padding: 0;
  text-align: center;
}
%pager__item {
  display: inline;
  padding: 0 0.5em;
  list-style-type: none;
  background-image: none;
}

.pager-item,      /* A list item containing a page number in the list of pages. */
.pager-first,     /* The first page's list item. */
.pager-previous,  /* The previous page's list item. */
.pager-next,      /* The next page's list item. */
.pager-last,      /* The last page's list item. */
.pager-ellipsis { /* A concatenation of several list items using an ellipsis. */
  @extend %pager__item;
}

/* The current page's list item. */
.pager-current {
  @extend %pager__item;
  font-weight: bold;
}

/**
 * Blocks.
 */

/* Block wrapper. */
.block {
  button,
  html input[type="button"],
  input[type="reset"],
  input[type="submit"],
  a,
  select {
    width: 100%;
  }
}

.sidebar {

  .block {
    // Use an increased veritcal rhythm for blocks to make a better distinction
    // between them in the sidebar.
    margin-bottom: rhythm(1.5);

    // Use smaller spacing on headings in blocks ib the sidebar.
    h1, h2, h3, h4, h5, h6 {
      margin: rhythm(0.5) 0;
    }
  }

}

.sidebar .sidebar-inner-wrapper .block__title {
  margin-top: 0;
  border-bottom: 2px solid $header-background-color;
}

/**
 * Side menus.
 */
.menu__item.is-leaf {
  list-style-image: inline-image("menu-leaf.png");
  @if support-legacy-browser(ie, "7") {
    *list-style-image: image-url("menu-leaf.png");
  }
  list-style-type: square;
}
.menu__item.is-expanded {
  list-style-image: inline-image("menu-expanded.png");
  @if support-legacy-browser(ie, "7") {
    *list-style-image: image-url("menu-expanded.png");
  }
  list-style-type: circle;
}
.menu__item.is-collapsed {
  list-style-image: inline-image("menu-collapsed.png"); /* LTR */
  @if support-legacy-browser(ie, "7") {
    *list-style-image: image-url("menu-collapsed.png"); /* LTR */
  }
  list-style-type: disc;
}

/* The active item in a Drupal menu. */
.menu a.active {
  color: #000;
}

/**
 * Marker.
 */

/* The "new" or "updated" marker. */
.new,
.update {
  color: #c00;
  /* Remove background highlighting from <mark> in normalize. */
  background-color: transparent;
}

/**
 * Unpublished note.
 */

/* The word "Unpublished" displayed underneath the content. */
.unpublished {
  height: 0;
  overflow: visible;
  /* Remove background highlighting from <mark> in normalize. */
  background-color: transparent;
  color: #d8d8d8;
  font-size: 75px;
  line-height: 1;
  font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  /* A very nice CSS3 property. */
  word-wrap: break-word;
}
@if support-legacy-browser(ie, "8") {
  .lt-ie8 .node-unpublished>*,
  .lt-ie8 .comment-unpublished>* {
    /* Otherwise these elements will appear below the "Unpublished" text. */
    position: relative;
  }
}

/**
 * Comments.
 */

/* Wrapper for the list of comments and its title. */
.comments {
  margin: rhythm(1) 0;
}

/* Preview of the comment before submitting new or updated comment. */
.comment-preview {
  /* Drupal core will use a #ffffea background. See #1110842. */
  background-color: #ffffea;
}

/* Wrapper for a single comment. */
.comment {

  /* Comment's permalink wrapper. */
  .permalink {
    text-transform: uppercase;
    font-size: 75%;
  }
}

/* Nested comments are indented. */
.indented {
  /* Drupal core uses a 25px left margin. */
  margin-left: $indent-amount;
}

/**
 * Forms.
 */

/* Wrapper for a form element (or group of form elements) and its label. */
.form-item {
  @include output-rhythm(margin, rhythm(1) 0);

  /* Pack groups of checkboxes and radio buttons closer together. */
  .form-checkboxes & ,
  .form-radios & {
    /* Drupal core uses "0.4em 0". */
    margin: 0;
  }

  /* Form items in a table. */
  tr.odd &,
  tr.even & {
    margin: 0;
  }

  /* Highlight the form elements that caused a form submission error. */
  input.error,
  textarea.error,
  select.error {
    border: 1px solid #c00;
  }

  /* The descriptive help text (separate from the label). */
  .description {
    font-size: 0.85em;
  }
}

.form-type-radio,
.form-type-checkbox {
  .description {
    margin-left: 2.4em;
  }
}

/* Add vertical rhythm to submit buttons when placed in inline containers */
.container-inline input[type="submit"] {
  @include output-rhythm(margin, rhythm(1) 0);
}

/* The part of the label that indicates a required field. */
.form-required {
  color: #c00;
}

/* Labels for radios and checkboxes. */
label.option {
  display: inline;
  font-weight: normal;
}

/* Buttons used by contrib modules like Media. */
a.button {
  @include appearance(button);
}

/* Password confirmation. */
.password-parent,
.confirm-parent {
  margin: 0;
}

/* Drupal's default login form block. */
#user-login-form {
  text-align: left;
}

/**
 * OpenID
 *
 * The default styling for the OpenID login link seems to assume Garland's
 * styling of list items.
 */

/* OpenID creates a new ul above the login form's links. */
.openid-links {
  /* Position OpenID's ul next to the rest of the links. */
  margin-bottom: 0;
}

/* The "Log in using OpenID" and "Cancel OpenID login" links. */
.openid-link,
.user-link {
  margin-top: rhythm(1);
}
html.js #user-login-form li.openid-link,
#user-login-form li.openid-link {
  /* Un-do some of the padding on the ul list. */
  margin-left: -20px;
}
#user-login ul {
  margin: rhythm(1) 0;
}

/* TableHeader behavior. */
table.sticky-header {
  background-color: #fff;
  margin-top: 0;
}

/**
 * Drupal admin tables.
 */
form {
  th {
    text-align: left; /* LTR */
    padding-right: 1em; /* LTR */
    border-bottom: 3px solid #ccc;
  }
  tbody {
    border-top: 1px solid #ccc;
  }
  table ul {
    margin: 0;
  }
}
tr.even,
tr.odd {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  padding: 0.1em 0.6em;
}
tr.even {
  background-color: #fff;
}
@if support-legacy-browser(ie, "7") {
  .lt-ie8 tr.even,
  .lt-ie8 tr.odd {
    th,
    td {
      /* IE doesn't display borders on table rows. */
      border-bottom: 1px solid #ccc;
    }
  }
}

/* Markup generated by theme_tablesort_indicator(). */
td.active {
  background-color: #ddd;
}

/* Center checkboxes inside table cell. */
td.checkbox,
th.checkbox {
  text-align: center;
}

td.menu-disabled {
  background: #ccc;
}

/* TableSelect behavior. */
tr.selected td {
  background: #ffc;
}

/**
 * Autocomplete.
 *
 * @see autocomplete.js
 */

/* Suggestion list. */
#autocomplete .selected {
  background: #0072b9;
  color: #fff;
}

/**
 * Collapsible fieldsets.
 *
 * @see collapse.js
 */
.collapsible-fieldset,
%collapsible-fieldset {
  position: relative;
}

.collapsible-fieldset.is-collapsed,
%collapsible-fieldset-is-collapsed {
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  height: 1em;
}

.is-collapsed .collapsible-fieldset__wrapper,
%collapsible-fieldset-is-collapsed__wrapper {
  display: none;
}

.collapsible-fieldset__legend,
%collapsible-fieldset__legend {
  display: block;
  background-image: inline-image("menu-expanded.png");
  @if support-legacy-browser(ie, "7") {
    *background-image: image-url("menu-expanded.png");
  }
  background-position: 5px 65%; /* LTR */
  background-repeat: no-repeat;
  padding-left: 15px; /* LTR */
}

.is-collapsed .collapsible-fieldset__legend,
%collapsible-fieldset-is-collapsed__legend {
  background-image: inline-image("menu-collapsed.png"); /* LTR */
  @if support-legacy-browser(ie, "7") {
    *background-image: image-url("menu-collapsed.png"); /* LTR */
  }
  background-position: 5px 50%; /* LTR */
}

.collapsible-fieldset__summary,
%collapsible-fieldset__summary {
  color: #999;
  font-size: 0.9em;
  margin-left: 0.5em;
}

.collapsible {
  @extend %collapsible-fieldset;

 .fieldset-legend {
    @extend %collapsible-fieldset__legend;

    .summary {
      @extend %collapsible-fieldset__summary;
    }
  }
}

.collapsed {
  @extend %collapsible-fieldset-is-collapsed;

 .fieldset-legend {
    @extend %collapsible-fieldset-is-collapsed__legend;
  }

  .fieldset-wrapper {
    @extend %collapsible-fieldset-is-collapsed__wrapper;
  }
}

/**
 * TableDrag behavior.
 *
 * @see tabledrag.js
 */
tr.drag {
  background-color: #fffff0;
}
tr.drag-previous {
  background-color: #ffd;
}
.tabledrag-toggle-weight {
  font-size: 0.9em;
}

/**
 * TableSelect behavior.
 *
 * @see tableselect.js
 */
tr.selected td {
  background: #ffc;
}

/**
 * Progress bar.
 *
 * @see progress.js
 */
.progress {
  font-weight: bold;

  .bar {
    background: #ccc;
    border-color: #666;
    margin: 0 0.2em;
    @include border-radius(3px);
  }
  .filled {
    background-color: #0072b9;
    background-image: image-url("progress.gif");
  }
}

/**
 * Field collections
 */
.field-collection-container {
  border-bottom: none;

  .field-label {
    margin: rhythm(1) 0;
  }

  ul.action-links {
    list-style: none;
  }
}

.field-collection-view {
  /* Establish a vertical rhythm between field-collections */
  /* We use the same indent of 3em as the field-label */
  /*@include output-rhythm(margin, rhythm(1) 3em);
  padding-top: 0;
  border: none;*/

  /*.field-type-link-field {
    float: left;
    padding-right: 5px;
  }*/
}

/*.field-collection-view-links a {
  @include box-sizing(border-box);
  @include sassy-button("flat", 0, $base-font-size, $header-background-color);
  text-decoration: none;
  font-size: 90%;
  padding: 0.2em 0.5em;
}*/

/**
 * Jura subject node view.
 */
.node-jura-subject {
  .field-label {
    position: relative;
  }
  .field-label-text  {
    padding-left: 3em;
  }
  /* Font awesome icons */
  i.fa {
    position: absolute;
    top: -0.1em;
    color: $header-background-color;
    margin-right: 0.5em;
  }

  .field-collection-view {
    border: none;
    margin: 0;
    padding: 0;
  }
}

.jura-subject-maintained-by {
  margin: 0;
  @include output-rhythm(padding, rhythm(1) 0);
  border-top: 1px solid #D3D7D9;
}

/**
 * The main listings on Jura subject nodes.
 */
.jura-subject-list {
  list-style: none;
  padding-left: 3em;

  > li {
    position: relative;
    overflow: visible;
    //border-bottom: 1px dotted $header-background-color;

    // Using padding for vertical rhythm yields a better result here.
    @include output-rhythm(padding, rhythm(0.25) 0);
    margin: 0;
    padding-left: 1.2em;

    // Pull the first one closer to the header.
    &:first-of-type {
      padding-top: 0;
    }

    &:last-of-type {
      border-bottom: none;
    }

    &:before {
      font-size: 120%;
      color: $header-background-color;
      content: "\00b6";
      position: absolute;
      left: 0;
    }
  }

  .field-type-link-field {
    float: left;
    padding-right: 0.3em;

    a {
      font-weight: bold;
    }
  }
}

/**
 * Jura subject overview
 */
#navigation-bar #block-juraport-jura-subject-juraport-jura-subject-overview {

  a.jura-subject-overview-link {
    text-decoration: none;
    line-height: normal;
    @include box-sizing(border-box);
    @include sassy-button("flat", 0, $base-font-size, $header-background-color);
    border: 1px solid $white;
    padding: 0;
    line-height: 3em; // Before 2.375em.
    text-align: center;
    &:active, &.active {
      font-weight: normal;
    }
  }

}

/**
 * Jura subject jumper (jump menu)
 */
#navigation-bar #block-juraport-jura-subject-juraport-jura-subject-jumper {

  .form-type-select {
    position: relative;
    height: 3.125em; // Appearently webkit needs this here also.

    /**
     * This is an easy fix for allowing click events being passed through the
     * after-element to the select box below.
     * This doesn't work in IE though, so a javascript solution might need to
     * replace this in the future. For more information See:
     * http://stackoverflow.com/questions/5855135/css-pointer-events-property-alternative-for-ie
     */
    pointer-events: none;

    /* Arrows in select box */
    &:after {
      position: absolute;
      right: 0.8em;
      top: 0.8em;
      font-family: $base-icon-library-font;
      color: $white;
      content: $fa-var-chevron-down;
    }
  }

  /* Jump menus */
  select {
    @include appearance(none);
    @include text-truncate();
    cursor: pointer;
    // text-align: center; // Doesn't work in webkit and IE9 and below so use text-indent instead:
    text-indent: 0.625em;
    pointer-events: all;
    height: 3.125em; // Padding doesn't work here, so we use a fixed height.
    overflow: hidden;
    background-color: $header-background-color;
    border: 1px solid $white;
    color: $white;
    /* IE fix for appearance none (see above) */
    &::-ms-expand {
      display: none;
    }
  }

  .ctools-jump-menu-button {
    // The ctools jump menu sometimes bugs out and shows the button. when it
    // shouldn't.
    // This is an easy fix, but we should propably make our own implementation
    // using Form API and AJAX (or Javasript) in the future.
    display: none;
  }

}

/**
 * Search block form in navigation bar.
 */
#navigation-bar #search-block-form {

  color: $white;
  position: relative;

  input.form-text { // The search field
    background-color: $header-background-color;
    border: 1px solid $white;
    padding: 0;
    height: 3.125em;
    padding-left: 2.8125em;
  }

  i.fa {
    position: absolute;
    top: 16px;
    left: 16px;
  }

  input.form-submit { // The search button
    position: absolute;
    width: auto;
    height: 100%;
    top: 0;
    right: 0;
    padding: 0 1em;
    border: 1px solid $white;
  }

}

/**
 * Juraport info box viewer block
 */
#block-juraport-jura-subject-juraport-info-box-viewer {

  .field  {
    // vertical rhythm between fields in the info-boxes.
    @include output-rhythm(margin, rhythm(0.75) 0);
  }

  .entity-field-collection-item {
    // Vertical rhythm between info-boxes in the block.
    margin-bottom: rhythm(1);
    padding: 0 10px;
    border: 2px solid $header-background-color;
  }

  .field-name-field-information-box-title {
    font-size: $h3-font-size;
    color: $header-text-color;
    border-bottom: 2px solid $header-background-color;
    position: relative;
    margin-top: 10px;
    padding-left: 27px;
    padding-bottom: 10px;

    .fa {
      position: absolute;
      color: $header-background-color;
      left: 0;
      bottom: 12px;
    }
  }

  .field-name-field-information-box-more a {
    display: inline-block;
    text-decoration: none; /* Looks better without underline here */

    &:after {
      content: "...";
    }
  }

}

/**
 * Special styling of jura subject lists in blocks.
 */
.block .view-jura-subject-overview ul {
  list-style: none;
  padding-left: 0;

  li {
    position: relative;
    overflow: visible;
    border-bottom: 1px dotted $header-background-color;

    // Using padding for vertical rhythm yields a better result here.
    @include output-rhythm(padding, rhythm(0.5) 0);
    margin: 0;
    padding-left: 1.2em;

    // Pull the first one closer to the header.
    &:first-of-type {
      padding-top: 0;
    }

    &:last-of-type {
      border-bottom: none;
    }

    &:before {
      font-size: 150%;
      color: $header-background-color;
      content: "\00a7"; // Paragraph sign.
      position: absolute;
      left: 0;
    }
  }
}

.juraport-jura-subject-view-column-overview {
  // Negate some of the vertical rhythm applied on the top-level blocks.
  // This is a bit hackish, but for now the easiest way.
  margin-top: -0.5em;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .jura-subject-overview-column {
    @include box-sizing(border-box);
    width: 100%;
  }

  li {
    // TODO: Use line height instead of padding/margin to create spacing.
    //@include adjust-font-size-to($h4-font-size);
    //@include output-rhythm(padding, rhythm(0.2) 0);
    line-height: 2em;
    border-bottom: 1px dotted $header-background-color;

    &:last-of-type {
      border-bottom: none;
    }

    &:first-of-type {
      padding-top: 0;
    }

    a {
      display: block;
      width: 100%;
      -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
      -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
      -o-transition: font-size 0.3s ease, background-color 0.3s ease;
      -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
      transition: font-size 0.3s ease, background-color 0.3s ease;
    }

    a:hover {
      @include adjust-font-size-to($h2-font-size);
      background: #f6f6f6;
    }
  }

  h2 {
    @include output-rhythm(margin, rhythm(0.25) 0);
  }
}

@media all and (min-width: 768px) {

  .juraport-jura-subject-view-column-overview {

    .jura-subject-overview-column {
      width: 33.33333333%;
      padding-left: 10px;
      padding-right: 10px;
    }

    .jura-subject-overview-column-first {
      padding-left: 0;
    }

    .jura-subject-overview-column-last {
      padding-right: 0;
    }
  }

}
